.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
}

.header-content h2{
   font-size: 60px;
   color: #082630;
   /* padding: 0px 0px 50px 0px; */
    margin: 0px 0px 50px 0px;
}
.header-content p{
    font-size: 22px;
    
    
 }
 .header img{
    width: 100%;
 }
 @media screen  and (max-width:820px){
    .header-content h2{
        font-size: 30px;
        color: #082630;
        /* padding: 0px 0px 50px 0px; */
         margin: 0px 0px 50px 0px;
     }
     .header-content p{
        font-size: 20px;
        
        
     }

 }